// Webfonts

// Variables

$font-stack: "futura-pt", Helvetica, Arial, sans-serif;
$font-size: 16px;
$line-height: 1.4em;

$vertical-spacing: 60px;
$gutter-spacing: 30px;
$page-margins: 20px;

$max-width-large: 1024px;
$max-width-medium: 768px;
$max-width-small: 400px;

$header-color: #f64747;

//Mixins

@mixin breakpoint($point) {
    $small: "(max-width: #{$max-width-small})";
    $medium: "(max-width: #{$max-width-medium})";
    $large: "(max-width: #{$max-width-large})";
    @if $point == large {
        @media #{$large} {
            @content;
        }
    }
    @else if $point == medium {
        @media #{$medium} {
            @content;
        }
    }
    @else if $point == small {
        @media #{$small} {
            @content;
        }
    }
}

// Imports

@import "reset";
@import "./node_modules/jeet/scss/jeet/index";

// @include edit();

// Typography

body {
    font: $font-size $font-stack;
    line-height: $line-height;
    background: #f64747;
}

h1 {
    font-size: 2em;
    line-height: $line-height;
}

// Layout

header {
    background-color: $header-color;
}

header h1 {
    text-align: left;
    float: right;
    margin-top: 40px;
    color: #fff;
    font-family: "Futura";
    font-size: 16px;
    padding-right: 6em;
}

h2 {
    margin: 1em;
}

footer {
    margin-top: 1em;
    text-align: center;
    color: magenta;
}

h3 {
    font-family: "Futura LT";
    font-size: 14px;
    font-style: italic;
    color: #fff;
    font-weight: 200;
}

.main {
    max-width: 400px;
    padding-left: 6em;
    position: absolute;
    bottom: 130px;
    left: 0;
}

.mainheading {
    font-size: 80px;
    font-family: "Futura";
    color: rgb(255, 255, 255);
    text-align: left;
    z-index: 4;
}

.paragraph {
    font-size: 16px;
    font-family: "Futura LT";
    color: rgb(255, 255, 255);
    text-align: left;
    z-index: 5;
    font-weight: 200;
}

.list-group {
    padding-top: 20px;
    color: #fff;
}

.fa {
    color: #fff;
}

.fa-behance {
    margin-left: 20px;
}

.fa-linkedin {
    margin-left: 20px;
}

.fa-twitter {
    margin-left: 20px;
}

.fa-envelope-o {
    margin-left: 15px;
}

.divider {
    height: 10px;
    width: 53px;
    background-color: #fff;
    margin-bottom: 30px;
}





